<div class="container" id="annonces_container">
		<div class="row centered">
				<div class="annonce col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<h1 class="display-4 border  post-title">Post Title</h1>
					<h3 class=" entreprise-name">Entreprise</h3>
					<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>
					<button type="button" class="btn btn-lg btn-block">Candidate</button>
				</div><!-- /col -->
				
				<div class="annonce col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<h1 class="display-4 border  post-title">Post Title</h1>
					<h3 class=" entreprise-name">Entreprise</h3>
					<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>
					<button type="button" class="btn btn-lg btn-block">Candidate</button>
				</div><!-- /col -->
				<div class="annonce col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<h1 class="display-4 border  post-title">Post Title</h1>
					<h3 class=" entreprise-name">Entreprise</h3>
					<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>
					<button type="button" class="btn btn-lg btn-block">Candidate</button>
				</div><!-- /col -->

				<div class="annonce col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<h1 class="display-4 border  post-title">Post Title</h1>
					<h3 class=" entreprise-name">Entreprise</h3>
					<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>
					<button type="button" class="btn btn-lg btn-block">Candidate</button>
				</div><!-- /col -->
				<div class="annonce col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<h1 class="display-4 border  post-title">Post Title</h1>
					<h3 class=" entreprise-name">Entreprise</h3>
					<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>
					<button type="button" class="btn btn-lg btn-block">Candidate</button>
				</div><!-- /col -->
				<div class="annonce col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<h1 class="display-4 border  post-title">Post Title</h1>
					<h3 class=" entreprise-name">Entreprise</h3>
					<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>
					<button type="button" class="btn btn-lg btn-block">Candidate</button>
				</div><!-- /col -->
				<div class="annonce col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<h1 class="display-4 border  post-title">Post Title</h1>
					<h3 class=" entreprise-name">Entreprise</h3>
					<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>
					<button type="button" class="btn btn-lg btn-block">Candidate</button>
				</div><!-- /col -->

				<div class="annonce col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<h1 class="display-4 border  post-title">Post Title</h1>
					<h3 class=" entreprise-name">Entreprise</h3>
					<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>
					<button type="button" class="btn btn-lg btn-block">Candidate</button>
				</div><!-- /col -->
		</div><!-- /row -->
	</div><!-- /container-->
