<div>
      <% if @compagny %>
        <div>
          <ul>
            <li></li>
          </ul>
        </div>
      <% end %>
      <div class="container-fluid">
          <div class="row">
              <iframe class="col-md-6 offset-md-3" width="560" height="415" src="https://www.youtube.com/embed/qC5XzxMLX-U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
      </div>
</div>
